@import url("../../variables.css");

.register {
  margin: 0 clamp(1rem, 50%, 10rem);
}

.criteria-list li {
  list-style-type: none;
}

.criteria {
  font-size: .75rem;
}

.valid {
  color: #008000;
}

.invalid {
  color: #f00020;
}
