* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 🌑 Fond sombre */
:root {
  --pico-background-color: #181818;
  --pico-color: #eaeaea;
  --pico-primary: #f4a261;
  --pico-secondary: #264653;
  --pico-contrast: #d62828;
}

/* 🖋️ Polices */
h1,
h2,
h3 {
  font-family: "Pirata One", cursive;
}

body,
p,
button {
  font-family: "Poppins", sans-serif;
}
