@import url("./variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--pico-background-color);
  padding: 0;
  margin: 0;
}

body {
  color: var(--pico-color);
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: var(--titleFont);
}

h1 {
  text-align: center;
  margin-top: 1rem;
}

h3 {
  font-family: var(--textFont);
  font-weight: bold;
  font-size: 1.2rem;
}

body,
p,
button {
  font-family: var(--textFont);
}

img {
  height: 18rem;
  display: block;
  margin: 1.5rem auto;

  border-radius: 10px;
}

button {
  margin-bottom: 0;
}

button:focus,
input:focus {
  outline: 1px solid var(--pico-primary);
}

ul > li {
  list-style-type: none;
}

.Toastify {
  margin-bottom: 0;
}
