.dragonDetails {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.dragonDetails ul li {
  display: flex;
  flex-direction: column;
}

.dragonDetails button {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .dragonDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;

    align-items: center;
    justify-items: center;
  }

  .dragonDetails h2,
  .dragonDetails ul,
  .dragonDetails p {
    margin: 0;
  }

  .dragonDetails h1 {
    grid-area: 1 / 1 / 2 / 3;
  }

  .dragonDetails img {
    grid-area: 2 / 1 / 6 / 2;
  }

  .dragonDetails button {
    grid-area: 5 / 2 / 6 / 3;
    width: 10rem;
  }
}

@media screen and (min-width: 800px) {
  .dragonDetails h2,
  .dragonDetails ul,
  .dragonDetails p,
  .dragonDetails button {
    justify-self: flex-start;
  }
}
