.adoptModal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.adoptModal button:nth-of-type(2) {
  background: transparent;
}

.adoptModal form {
  display: grid;
  width: 100%;
  gap: 1rem;
}

.adoptModal form label,
.adoptModal form input,
.adoptModal form button {
  margin-bottom: 0;
}

.adoptModal form label {
  grid-area: 1 / 1 / 2 / 3;
}

.adoptModal form input {
  grid-area: 2 / 1 / 3 / 3;
}

.adoptModal form button:nth-of-type(1) {
  grid-area: 3 / 1 / 4 / 2;
}

.adoptModal form button:nth-of-type(2) {
  grid-area: 3 / 2 / 4 / 3;
  width: 5rem;
  justify-self: center;
}

@media screen and (min-width: 600px) {
  .adoptModal {
    display: grid;
    grid-template-rows: 5rem 13rem;
    gap: 1rem;

    padding: 15rem 1rem;
  }

  .adoptModal img {
    grid-area: 1 / 1 / 3 / 2;
  }

  .adoptModal h2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .adoptModal form {
    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
  }
}
