.trainingList article ul li {
  text-align: center;
}

.trainingList article form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  justify-items: center;
  gap: 1rem;

  margin: 0 1rem;
}

.trainingList article form input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.trainingList article form input:checked + label {
  background-color: var(--pico-primary);
  border-color: var(--pico-primary);
}

.trainingList article form label {
  border-radius: 50%;

  height: 5rem;
  width: 5rem;

  margin: 0;
  padding: 1rem;

  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: background-color 0.3s ease, filter 0.3s ease;
}

.bgBlue {
  background-color: #1e90ff;
}

.bgRed {
  background-color: #b22222;
}

.bgGreen {
  background-color: #228b22;
}

.trainingList article form label:hover {
  filter: brightness(1.2);
}

.trainingList article form input:focus + label {
  outline: 2px solid var(--pico-primary);
  box-shadow: 0 0 0 4px rgba(255, 127, 0, 0.3);
}

.trainingList article form button {
  grid-column: span 3;
  width: 95%;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .trainingList article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
    align-items: center;

    height: 75vh;
  }

  .trainingList article img {
    grid-area: 1 / 1 / 3 / 2;
  }

  .trainingList article ul {
    align-self: flex-end;
  }

  .trainingList article form {
    align-self: flex-start;
  }
}
