.profile-selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatar {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  margin: 0;
}

.profile-selection button {
  background-color: transparent;
  border: none;
  margin: 0 auto;
  padding: 0;
}

.profile-selection h2 {
  margin-bottom: 0;
}

.profile-card:last-of-type {
  border: 1px solid var(--pico-primary);
  border-radius: 50%;
  height: 8rem;
  width: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: scale(1.05);
}

.profile-card:last-of-type p {
  color: var(--pico-primary);
  font-size: 3rem;
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  .profile-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  .profile-selection h1 {
    width: 100%;
    grid-column: span 3;
  }

  .profile-card:last-of-type {
    margin-bottom: 2rem;
  }
}
